# Node
node_modules/
npm-debug.log*
yarn-error.log

# OS
.DS_Store

# Env
.env

# SQLite
backend/data.db
backend/uploads/

# Coverage
coverage/

# Editor
.vscode/
.idea/

# Build artifacts
frontend/dist/
